# Git ignore file
# See: https://git-scm.com/docs/gitignore

# Editor/IDE
.idea/
.vscode/*
!/.vscode/extensions.json

# LuaRocks
.luarocks/
lua_modules/
lua/
luarocks/
*.src.rock
*.tar.gz
*.zip
luarocks.lock

# Temporary Files
/test.lua
